body{
    background-color: rgb(255, 255, 255);
}

.container2{
    background-color: rgb(255, 153, 0);
    display: flex;
    justify-content: center;
}

.container1{
    background-color: purple;
    display: flex;
    justify-content: center;
}
.container1 img{
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
}
.container2 img{
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
}